*{
  padding: 0px;
  margin: 0px;
}

.uli{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.jy{
  margin-left: 60px;
}

.uo{
  display: flex;
}
.up{
  display: flex;
  justify-content: center; 
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  box-shadow: 1px 0.7rem rgb(0 0 0 / 4%);
  padding-top: 11px;
  padding-bottom: 16px;
  font-family:'Aleo' ;
  font-weight: 600;
  font-size: 23px;
  
}
.herosection{
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Aleo' ;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  background-color: rgb(250 248 251);
}

.herosection h2 {
  margin-left: 40px;
}

#name{
  margin-top: 60px;
  margin-left: 20px;
  font-size: 45px;
  font-family: 'Aleo' ;
}
#nam{
  margin-left: 20px;
  font-size: 30px;
  font-weight: 550;
  font-family: 'Aleo' ;
}
.mid{
  text-align: center;
  font-family: 'Aleo' ;
  border: 3px solid black;
  width: 650px;
  font-size: 33px;
  border-radius: 10%;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
}
.nav-link{
  margin-right: 50px;
  color: white;
  font-family: 'Aleo ' ;
  
}

.link{
  margin-right: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Aleo' ;
}
.row{
  margin-top: 30px;
  border-radius: 55px;
  display: flex;
  justify-content: space-around;
}

.dose{
  height: 400px;
  background-color: rgb(219, 223, 219);
  width: 400px;
  margin-right: 10px;
  font-family: 'Aleo' ;
  padding: 15px;
  margin-left: 5px;
  text-align: center;
  border-radius: 10px;
}

.dose p {
  font-size: 20.5px;
  text-align: justify;
  padding: 3px;
  font-family: 'Aleo';
  width: 350px;
  margin-left: 9px;
}

.dose:hover{
  background-color: rgb(44, 38, 40);
  color: white;
}
.parent {
  width: 100%;
  background-color: rgb(44, 38, 40);
  color: white;
  font-family: 'Aleo';
}

.main, body, html{
  width: auto;
}

.magen{
  margin-top: 35px;
  font-size: 29px;
}

.footer{
  font-size:20px;
  font-family: 'Aleo' ;
}
.fa{
  padding: 5px;
  font-size: 30px;
  font-family: 'Aleo';
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  
}
.fa-facebook{
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  margin-left: 170px;
}
.yogo{
  height: 300px;
  display: flex;
  justify-content: center;
  
  
}
.paran {
  margin: 0px;
  background-color: rgb(44, 38, 40);
  color: white;
  width: 100%;
}
.fil{
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}
.fa-facebook{
  background: #638de9;
  color: white;
}
.fa-linkedin{
  background: #537dd6;
  color: white;
}
.fa-twitter{
  background: #55ACEE;
  color: white;
}
.fa-instagram{
  background: #ee5590;
  color: white;
}
.fa-youtube{
  background: #e20909;
  color: white;
}
.joy{
  text-align: center;
  font-family: 'Aleo';
}
.w{

  text-align: justify;
  font-family: 'Aleo' ;
  margin-left: 27px;
  line-height: 58px;
  font-size: 27px;
  padding: 10px;
  width: 700px;
}
.video{
  margin-bottom: 60px;
  width:700px;
 
}
.wa{
  border: 3px solid rgb(24, 21, 21);
  width: 350px;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto; 
  font-size: 30px;
  font-family: 'Aleo';
}
.community{
  display: flex;
  justify-items: baseline;
  margin-top: 40px;
 
}
.wat{
  border: 3px solid rgb(20, 19, 19);
  width: 250px;
  border-radius: 9%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Aleo';
}
.wat h2{
  text-align: center;
}

.dose a {
  color:rgb(44, 38, 40);
  font-family: 'Aleo' ;
}
.dose hr{
  width: 49px;
  margin-left: 200px;
  
}
.dose a:hover {
  color:rgb(136, 133, 133);
}
.uli a{
  color:rgb(44, 38, 40); 
  font-family: 'Aleo';
}
.img{
  width: auto;
}

@media screen and (min-device-width : 320px) and (max-device-width : 580px){
  .nav-link{
    display: none;
  }
  
  .mid{
    text-align: center;
    border: 3px solid black;
    width: 309px;
    font-size: 29px;
    border-radius: 10%;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .w{

    text-align: justify;
    margin-left: 2px;
    line-height: 30px;
    font-size: 23px;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
  }
  .video{
    margin-bottom: 60px;
    width:320px;
   
  }
  .community{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
  }
  .yogo{
    margin-left: 6px;
  }

  .wat{
    border: 3px solid rgb(20, 19, 19);
    width: 190px;
   
    margin-top: 210px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    
  }
  #name{
    margin-top: 60px;
    margin-left: 20px;
    font-size: 33px;
   
  }
  #nam{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 550;
    
  }
  .video{
    /* padding: 0;
    margin-left: 10px; */
    margin-bottom: 60px;
  }
  .magen{
    margin-top: 22px;
    font-size: 27px;
    text-align: center;

  }
  .herosection{
    box-sizing: border-box;
    width: 320px;
  }

  .dose {
    box-sizing: border-box;
    width: 320px;
    margin-right: 0px;
    margin-bottom: 15px;
   
  }

.dose p {
  font-size: 17px;
  text-align: justify;
  padding: 2px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  ;
}
.dose a{
  font-size: 22px;
}

  .herosection h2{
    box-sizing: border-box;
  }

  .row{
    margin-top: 30px;
    border-radius: 55px;
    margin-left: 0px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
  }
  
  
.footer{
  margin-left: 2px;
  font-size:20px;
}
.fa{
  padding: 5px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  
}
.fa-facebook{
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  margin-left: 2px;
}
  .img{
    width: 100%;
  }
}
@media screen and (min-device-width : 375px) and (max-device-width : 667px){

 .nav-link{
    display: none;
  }
  
  .mid{
    border: 3px solid black;
    width: 320px;
    font-size: 28px;
    border-radius: 10%;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .w{

    text-align: justify;
    margin-left: 7px;
    margin-bottom: 20px;
    line-height: 29px;
    font-size: 23px;
    padding: 10px;
    width: 320px;
  }
  .video{
    margin-bottom: 60px;
    width:368px;
   
  }
  .community{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
   
  }

  .wat{
    border: 3px solid rgb(20, 19, 19);
    width: 180px;
   
    margin-top: 220px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #name{
    margin-top: 60px;
    margin-left: 20px;
    font-size: 38px;
    font-weight: 800;
  }
  .jy{
    margin-left: auto;
    margin-right: auto;
  }
  #nam{
    margin-left: 20px;
    font-size: 23px;
    font-weight: 590;
  }
  .video{
    padding: 0;
    margin-left: 5px;
    margin-bottom: 60px;
  }
  .magen{
    margin-top: 30px;
    font-size: 28px;
  }
  .herosection{
    box-sizing: border-box;
    width: 375px;
  }

  .dose {
    width: 360px;
    padding: 2px;
    margin-bottom: 15px;
   
  }

.dose p {
  font-size: 22px;
  text-align: justify;
  padding: 5px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  ;
}

  .herosection h2{
    box-sizing: border-box;
  }

  .row{
    margin-top: 30px;
    border-radius: 55px;
    margin-left: 0px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
  }
  
  
.yogo{
  margin-left: 11px;
  font-size:22px;
}
.fa{
  padding: 5px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  
}
.fa-facebook{
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  margin-left: 2px;
}
  .img{
    width: 100%;
  }
}
@media screen and (min-device-width : 414px) and (max-device-width : 667px){
.herosection{
  width: 414px;
}
.wat{
  border: 3px solid rgb(20, 19, 19);
  width:300px;
  margin-top: 330px;
  margin-bottom: 33px;
  font-size: 37px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
}
.mid{
  font-weight: 700;
}
.video{
  margin-left: 25px;
}
.yogo{
  margin-left: 9px;
}
#connect{
  margin-left: 10px;
}
.w{

  text-align: justify;
  margin-left: 7px;
  line-height: 30px;
  font-size: 23px;
  padding: 10px;
  width: 390px;
}
.magen{
  margin-top: 20px;
  font-size: 31px;
}
.dose {
  width: 414px;
  padding: 5px;
}
.dose p{
  font-size: 22px;
  width: 350px;
}
.dose a{
  font-size: 22px;
}

#name{
  margin-top: 60px;
  margin-left: 20px;
  font-size: 50px;
 
}
#nam{
  font-size: 30px;
}
}

 @media only screen and (max-width: 600px){
  .herosection{
    width: 520px;
    height: auto;
  }
  
  .wat{
    border: 3px solid rgb(20, 19, 19);
    width:250px;
    margin-top: 40px;
    margin-bottom: 33px;
    font-size: 37px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
  }
  .paran {
 width: 540px;
  }
  .mid{
    font-weight: 700;
    width: 400px;
   text-align: center;
   margin-left: 60px;
  }
  .video{
    width: 500px;
     
  }
  .yogo{
    margin-left: 9px;
  }
  #connect{
    margin-left: 10px;
  }
  .w{
  
    text-align: justify;
    margin-left: 7px;
    line-height: 30px;
    font-size: 25px;
    padding: 10px;
    width:500px;
  }
  .magen{
    margin-top: 15px;
    font-size: 31px;
  }
  .dose {
    width: auto;
    padding: 10px;
  }
  .dose p{
    font-size: 25px;
    width: 450px;
  }
  .dose a{
    font-size: 22px;
  }
  
  #name{
    margin-top: 60px;
    margin-left: 20px;
    font-size: 50px;
   
  }
  #nam{
    font-size: 30px;
  }
 
  }

@media screen and (min-device-width : 768px) and (max-device-width : 1006px) {
  /* Styles */
/*   
  .nav-link{
    display: none;
  } */
  
  .mid{
    text-align: center;
    border: 3px solid black;
    width: 400px;
    font-size: 37px;
    border-radius: 10%;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .w{

    text-align: justify;
    margin-left: 7px;
    line-height: 30px;
    font-size: 23px;
    padding: 10px;
    width: 750px;
  }
  .video{
    margin-top: 20px;
    margin-bottom: 60px;
    width:620px;
    margin-left: 70px;
   
  }
  .community{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
   
  }

  .wat{
    border: 3px solid rgb(20, 19, 19);
    width:300px;
   
    margin-top: 200px;
    margin-bottom: 29px;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  #name{
    margin-top: 60px;
    margin-left: 20px;
    font-size: 50px;
   
  }
  #nam{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 550;
  }
  .video{
    /* padding: 0;
    margin-left: 10px; */
    margin-bottom: 60px;
  }
  .magen{
    margin-top: 10px;
    font-size: 30px;
  }
  .herosection{
    box-sizing: border-box;
    width: 768px;
  }

  .dose {
    
    width: 768px;
    margin-right: 0px;
    margin-bottom: 15px;
   
  }

.dose p {
  font-size: 23px;
  text-align: justify;
  padding: 2px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  ;
}

  .herosection h2{
    box-sizing: border-box;
  }

  .row{
    margin-top: 30px;
    border-radius: 55px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  
.footer{
  margin-left: 2px;
  font-size:30px;
}
.up{
  font-size: 30px;
}
.fa{
  padding: 5px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  
}
.fa-facebook{
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border-radius: 7px;
  margin-left: 172px;
}
  .img{
    width: 100%;
  }
}

};